name: "{{ env.LABEL }} (beta)"
packageKey: "{{ env.PKG_KEY }}-beta"
description: "This driver extends the basic zwave functionality to include additional vendor specific parameters"
vendorSupportInformation: >-
   'This driver require a documented device to work properly.<br /><br />
    <a href="{{ env.COMMUNITY_LINK }}">SmartThings Community discussion</a><br /><br />
    <a href="{{ env. GITHUB }}/blob/main/README.md">GitHub Repository</a>'
permissions:
  zwave: {}
