name: publish-drivers

on:
  push:
    branches:
      - main
      - beta
    paths:
      - "drivers/**.yaml"
      - "drivers/**.yml"
      - "drivers/**.lua"
  pull_request:
    branches:
      - main
      - beta
    paths:
      - "drivers/**.yaml"
      - "drivers/**.yml"
      - "drivers/**.lua"

jobs:
  paths-filter:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      zwave-switch: ${{ steps.filter.outputs.zwave-switch }}
      zwave-fan: ${{ steps.filter.outputs.zwave-fan }}
    steps:
    - uses: actions/checkout@v3
    - uses: dorny/paths-filter@v2
      id: filter
      with:
        filters: |
          zwave-switch:
            - 'drivers/**/zwave-switch/**'
          zwave-fan:
            - 'drivers/**/zwave-fan/**'

  zwave-switch:
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.zwave-switch == 'true' }}
    uses: ./.github/workflows/publish-smartthings-driver.yml
    with:
      driver: drivers/SmartThings/zwave-switch
      category: Switches
      environment: ${{ github.head_ref || github.ref_name }}
    secrets: inherit
  zwave-fan:
    needs: paths-filter
    if: ${{ needs.paths-filter.outputs.zwave-fan == 'true' }}
    uses: ./.github/workflows/publish-smartthings-driver.yml
    with:
      driver: drivers/SmartThings/zwave-fan
      category: Fan Controller
      environment: ${{ github.head_ref || github.ref_name }}
    secrets: inherit
